.row
  .panel.panel-danger
    .panel-heading
      %span.glyphicon.glyphicon-warning-sign
      <strong>500</strong> Internal Server Error!
    .panel-body
      %p Sound horrific, doesn't it?
      %p Try doing this one more time and if you see this page over and over again, please let us know. 
  = render 'game'