.form-group
  %p A round-robin tournament (or all-play-all tournament) is a competition in which each team meets all other teams in turn. It contrasts with an elimination tournament.
  %p Generating a round using this system will randomly match every contestant with an opponent. Every subsequent round generation will find a new opponent excluding previous enemies unless all the teams have already faced each other in previous rounds.