body {
    color: #fff !important
}

.panel.panel-container {
    background-color: #07070769 !important;
}

.well {
    background-color: #2d2d2c !important;
}

p {
    color: white !important;
}

@media (min-width: 1200px) {
.main {
    padding: 2rem 3rem;
}
}
.sidebar {
    background-color: #2d2d2c !important;
}

.sidebar ul.nav li a {
    color: #fff !important;
}

.profile-sidebar {
    border-bottom-color: #363636 !important;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #2e2e2c !important;
  border-color: #404040 !important;
  color: #ffffff !important;
}

.form-control {color: #ededed !important;background-color: #24242400 !important;border-color: #2e2e2c !important;}

.list-group-item {
    background-color: #2e2e2c75 !important;
    border: 0 !important;
}

.panel {
    background-color: #07070769 !important;
    border: none !important;
}

.panel-default .panel-heading {
    background: #2e2e2c !important;
    border-bottom: 0 !important;
    color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff !important;
    background-color: #2e2e2ce3 !important;
    border: none !important;
    border-bottom-color: transparent !important;
}

.nav-tabs {
    background: #2e2e2c66 !important;
    border: 0 !important;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #353535 !important;
}

.thumbnail {
    background-color: #2e2e2c52 !important;
    border: none !important;
}


.alert-warning {
  background-color: #5747378f !important;
  border: 0 !important;
  color: #ffffff !important;
}

.alert-warning hr {
  border-top-color: #574737cf !important;
}

.alert-warning .alert-link {
  color: #ffffff !important;
}

.panel-info > .panel-heading {
    background-color: #222322 !important;
}

.dropdown-menu {
    background-color: #2e2e2c;
    color: #fff !important;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

a.list-group-item, button.list-group-item {
    color: #ffffff !important;
}

.notification-button {
  background-color: transparent;
  border: 0;
}

select option {
    margin: 40px;
    background: rgb(46, 46, 44);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e2e2ca8;
}

.table {
    background: #2e2e2c52 !important;
}

.table > thead > tr > th {
  border-bottom: 1px solid #2e2e2c6b !important;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #2e2e2c6b !important;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: 1px solid #2e2e2c6b !important;
}

.bracket-match {
  border-color: #2223222e;
  background: #3f3e3e !important;
}

.bracket-match:hover {
  background: #4d4d4d;
}

.bracket-team {
  display: flex;
  margin-left: 10px;
}

.bracket-team-home {
  background: initial !important;
}

.bracket-team-away {
  background: #e29418;
  color: #fff;
}

.panel-danger > .panel-heading {
  background-color: #451b17 !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  background-color: #461d19 !important;
  border-color: #461d19 !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
  background-color: #b78739 !important;
  border-color: #b78739 !important;
}

.btn-info {
    background-color: #0f4a5b !important;
    border-color: #0f4a5b !important;
}

hr {
  border-top: 1px solid #2e2e2c69 !important;
}

.panel-warning > .panel-heading {
  background-color: #2f2821;
  color: #fff;
  border: none;
}

.panel-heading.post-edit > .pull-right {
    font-size: 11px;
}
.panel-heading.post-edit > .pull-right > a{
    color: #cc8f184f;
}

.panel-heading.post-edit > .pull-right:nth-child(2) > a > span{
    font-size: 10px;
}

.match-table > thead > tr > th:last-child {
    text-align: right;
}
.match-table > tbody > tr > td:last-child {
    text-align: right;
}

.match-table > tbody > tr > td:last-child > .row > .pull-left {
    float: right !important;
}

.match-table > tbody > tr > td:last-child > .row > .user-details {
    padding-left: 0;
    padding-right: 45px;
}


.label {
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    border: 0 !important;
    border-radius: 0 !important;
}

.alert-danger {
    background-color: #512020;
    color: #ffffff;
}

.alert-info {
    background-color: #1d2124;
    color: #ffffff;
}

.alert-success {
    background-color: #3b4935;
    color: #ffffff;
}

.label-primary {
    background-color: #22222224;
}

.round-score {
    display: inline-block;
    border-left: none !important;
    line-height: calc(100% + 2px);
    outline: none !important;
    background-color: #282828b5;
    border-radius: 6px;
    margin-bottom: 1px;
}

.round-score div {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}
.round-won {
    background-color: #155515;
    color: white;
}
.match-vs {
    text-align: center;
    width: 60px;
    font-family: monospace;
    background: transparent;
}
.table-responsive {
  padding: 10px;
}

.news-pane.thumb > .panel-heading > .newsdate {height: 21px;opacity: 0.8;}

.news-pane.thumb > .panel-heading > .newsdate > span{
    font-size: 10px;
    position: absolute;
    top: -9px;
    right: 6px;
}

.news-pane.thumb > .panel-heading > .newsdate > span{
    font-size: 10px;
    position: absolute;
    top: -20px;
    right: 6px;
}

.news-pane.thumb > .panel-body {
    font-size: 12px;
}

.news-pane.thumb > .panel-body > h4{
    font-size: 16px;
}

@media (min-width: 992px){
    .news-pane.thumb > .panel-body:before {
      content:'';
      width:100%;
      height:100%;    
      position:absolute;
      left:0;
      top:0;
      background:linear-gradient(transparent 150px, #2d2d2c);
      pointer-events:none;
    }

    .row.bottom-news {
      height: 290px;
    }


    .row.bottom-news > .col-md-3{
      height: 100%;
      padding-bottom: 2rem;
    }

    .row.bottom-news > .col-md-3 > .news-pane {
      height: 100%;
    }
    
    .row.bottom-news > .col-md-3:last-child > .news-pane > .panel-body > h4 {
      margin: 0 auto;
      height: 200px;
      line-height: 200px;
    }
}

.user-desc {
  margin-top: 30px;
}
.span.ban {
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2d2d2c; 
}

::-webkit-scrollbar-thumb {
    background: #222; 
}

::-webkit-scrollbar-thumb:hover {
    background: #e29418; 
}

.inh1-button {
    margin-top: 30px;
}

span.glyphicon.glyphicon-question-sign.help {
    font-size: 16px;
    color: red;
}
.panel.facts > .panel-body > em {
    position: absolute;
    top: -27px;
    right: -11px;
    color: #e29418;
    font-size: 182px;
    transform: rotate(-27deg);
    z-index: 10;
}

.panel.facts > .panel-body > h3 {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel.facts {
    position:relative;
    overflow: hidden;
}

.panel.facts > .panel-body > p {
    position: relative;
    z-index: 20;
}

.panel.facts > .panel-body {
    padding-left: 30px;
    padding-right: 56px;
}

.panel.league-panel {
    position: relative;
    overflow: hidden;
}

.panel.league-panel > em {
    position: absolute;
    top: 210px;
    left: -139px;
    color: #e29418;
    font-size: 282px;
    z-index: 10;
    pointer-events: none;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ffffff;
  background-color: #2d2d2c;
  border: 0;
  cursor: not-allowed;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #e29418;
  border: 0 !important;
  cursor: default;
}

.pagination > li > a,
.pagination > li > span {
  text-decoration: none;
  color: #ffffff;
  background-color: #222;
  border:  0 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.modal-content {
    position: relative;
    background-color: #2d2d2cd9 !important;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    border-bottom: 1px solid #3b3b3b;
}

.modal-footer {
    border-top: 1px solid #3b3b3b;
}
