%li{ class: navbar_class(:home) }
  %a{:href => "/"}
    %em.fa.fa-home  
    Home

%li{ class: navbar_class(:leagues) }
  %a{:href => "/tournaments"}
    %em.fa.fa-trophy  
    Tournaments

%li{ class: navbar_class(:teams) }
  %a{:href => "/teams"}
    %em.fa.fa-calendar  
    Teams

%li{ class: navbar_class(:users) }
  %a{:href => "/users"}
    %em.fa.fa-users  
    Users

%li{ class: navbar_class(:faq) }
  %a{:href => "/faq"}
    %em.fa.fa-bars  
    FAQ
    
%li{ class: navbar_class(:about) }
  %a{:href => "/about"}
    %em.fa.fa-bars  
    About

- if user_signed_in? && current_user.admin?
  %li{ class: navbar_class(:admin) }
    %a{:href => "/admin"}
      %em.fa.fa-wheelchair-alt  
      Admin