%li.dropdown
  %a.dropdown-toggle#notifications{ data: { toggle: 'dropdown' }, href: '#' }
    %span.glyphicon.glyphicon-bell#notifications-glyph
    - unless notifications.empty?
      %span.label.label-danger#notifications-badge= notifications.to_a.count { |n| !n.read }
  %ul.dropdown-menu.navbar-right-menu.navbar-notifications.animated.fadeInDown#notifications-dropdown
    %li.row.dropdown-header
      = button_to clear_notifications_path, class: 'btn btn-danger-mute btn-block',
                  method: :delete, remote: true,
                  data: { confirm: 'Are you sure you want to clear all notifications?' } do
        Clear
        .span.glyphicon.glyphicon-remove
  
    %ul.list-group#notifications-list
      - notifications.each do |notification|
        = render 'notification', notification: notification
