		<ul class="nav menu bottom">
			<li><a href="<%= edit_user_path(current_user) %>"><em class="fa fa-cog">&nbsp;</em> Settings</a></li>
			<li><a href="<%= logout_user_path %>"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>